.terminal {
    visibility: visible;
}

.terminal.hidden {
    visibility: hidden;
}

.response {
    color: white;
    background: var(--joy-palette-primary-900);
    border: none;
    height: 100%;
    border-top: 1px solid white;
    border-radius: 0;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.response a, .response a:visited {
    color: var(--joy-palette-primary-400)
}

.list > li {
    color: white;
}
